:root{
    --bg-color: #FFF4DE;
    --highlight-color: #897342;
    --title-color:#635331;
    --main-text: #897342;
    --graphic-green: #69640F;
    --graphic-purple: #A55F5F;
}
@font-face {
    font-family: "inter";
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
}

@font-face {
    font-family: "averia";
    src: url(./fonts/AveriaSerifLibre-Regular.ttf) format("truetype");
}

:root{
    --font-averia: "averia";
    --font-inter: "inter";
}

main{
    background-color: var(--bg-color);
}

p{
    margin: auto;
    width: 348px;
    color: var(--main-text);
    font-family: var(--font-inter);
}

h1{
    margin: auto;
    color: var(--title-color);
    font-family: var(--font-averia);
}

h2{
    margin: auto;
    color: var(--title-color);
    font-family: var(--font-averia);
}

h3{
    margin: auto;
    color: var(--title-color);
    font-family: var(--font-averia);
}

body {
    background-color: #FFF4DE;
}

/* SCREEN SIZE: MOBILE  */


 [role="banner"]    {
    margin: auto;
    width: 303px;
    height: 303px;
    border-radius: 303px;
    background: #ECDFBC;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        color: #897342;
    text-align: center;
    font-family: "Averia Serif Libre";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    };

    h2 {
        display: none;
    }

    .summary p {
    width: 387px;
    color: #897342;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
        }
 }
 
 /* INSERT WAVE SVG  */

  /* main supporting */

  .explanation h3 {
    
  }