:root{
    --bg-color: #C3D0CF;
    --highlight-color: #D3DDDC;
    --title-color:#101717;
    --main-text: #182322;
    --graphic-green: #2F4644;
    --graphic-purple: #3F5D5A;
}

@font-face {
    font-family: "raleway";
    src: url(./fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}

:root{
    --font-raleway: "raleway";
}

body{
    background-color: var(--bg-color);
}

p{
    margin: auto;
    width: 50vw;
    color: var(--main-text);
    font-family: var(--font-raleway);
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 2vw auto;
}

h1{
    color: var(--title-color);
    font-family: var(--font-raleway);
}

h2{
    margin: auto;
    color: var(--title-color);
    font-family: var(--font-raleway);
}

h3{
    margin: auto;
    color: var(--title-color);
    font-family: var(--font-raleway);
}

h3 {
    color: var(--title-color);
    text-align: center;
    font-family: var(--font-raleway);
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a{
    text-decoration: underline;
    color: var(--graphic-purple);
}

[role="banner"]{
    margin: auto;
    width: 50vw;
    height: 50vw;
    border-radius: 50vw;
    background: var(--highlight-color);
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        display: none;
    }
}

h1 {
    color: var(--title-color);
    text-align: center;
    font-family: var(--font-raleway);
    font-size: 6vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
};

h2 {
    display: none;
}

.summary p {
    width: 50vw;
    color: var(--main-text);
    text-align: center;
    font-family: var(--font-raleway);
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

@media all and (min-width: 1024px){
    
}